<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
			Discord: colbyf1
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Instagram" href="{{ site.instagram }}" target="_blank">Instagram</a></li>
				<li><a title="YouTube" href="{{ site.youtube }}" target="_blank">YouTube (Local Orange)</a></li>
			</ul>
		</section>
		<section>
			<h2>Website by Colby Frashure</h2>
		</section>
	</div>
</footer>